{
    "channels": [
        {
            "id": "C04KU2JTDJR",
            "displayName": "team-orange",
            "export": true
        },
        {
            "id": "C05LGUSIA25",
            "displayName": "proj-clasp",
            "export": true
        }
    ]
}
